body {
/* background-color: black; */
font-family: 'Ubuntu', sans-serif;
}

.main {
height:auto;
overflow:hidden;
background-color: #FFFFFF;
width: 30%;
/* height: 80%; */
margin: 7em auto;
border-radius: 1.5em;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
padding-top: 20px;
color: #8C55AA;
font-family: 'Ubuntu', sans-serif;
font-weight: bold;
font-size: 23px;
}

.sign-input {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 50px;
text-align: center;
margin-bottom: 20px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
padding-top: 10px;
}

.name-input{

  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 50px;
}
/* .password {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
/* border: 2px solid rgba(0, 0, 0, 0.02); */
margin-bottom: 50px;
margin-left: 50px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
} */


.un:focus, .pass:focus {
border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
margin-top: 30px;
cursor: pointer;
/* border-radius: 5em; */
color: #fff;
/* background: linear-gradient(to right, #9C27B0, #E040FB); */
border: 0;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 10px;
padding-top: 10px;
font-family: 'Ubuntu', sans-serif;
margin-left: 30%;
font-size: 20px;
/* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04); */
width: 100px;
text-decoration: none;
}

.forgot {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
color: #fff;
padding-top: 15px;
}

a {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
color: #8C55AA;
text-decoration: none;
}
.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  width: 500px;
  height: : 60px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  width: 880px;
  height: : 60px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
