body{
font-family: 'Ubuntu', sans-serif;
color: #8C55AA;
}
.wrapper {
  display:flex;
  font-family: 'Ubuntu', sans-serif;
  height:auto;
}
.side-left {
background-color: #f1e2f7;
border-style: solid;
border-color: #8C55AA;
width: 20%;
height:360px;
overflow:hidden;
margin: 7em auto;
margin-top: 30px;
margin-right:10px;
border-radius: 1.5em;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.side-title {
  background-color: #8C55AA;
  color:white;
  font-size:18px;
  height:45px;
}
.profile {
 background-color: #704899;
}
.profile-border{
  background-color: #8C55AA;
  height: 5px;
}
.profile-info {
  margin-left: 20px;
}
.profile-img {
  height:50px;
  width:50px;
  border-radius: 50%;
  margin-left:10px;
}
.me-img {
  height:90px;
  width:90px;
  border-radius: 50%;
  margin-top: 8px;
}
.profile-name {
font-weight: bold;
font-size:18px;
border-color: #8C55AA;
color: #8C55AA;
}
.profile-username {
  font-size:18px;

}
.profile-follow a{
margin-top:10px;
display:flex;
flex-direction: column;
font-size:18px;
}
.profile-item{
 font-size:18px;
 margin-top: 10px;
 margin-bottom: 50px;
}
.main {
color: #8C55AA;
border-style: solid;
border-color: #8C55AA;
background-color: #f1e2f7;
width: 40%;
margin-top: 30px;
border-radius: 1.5em;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
height:100%;
overflow:hidden;
}
.main-title {
  background-color: #8C55AA;
  vertical-align: middle;
  padding: 10px 0 3px 15px;
  padding-left: 20px;
  color:white;
  font-size: 18px;
  height: 45px;
}
.follow-content {

}
h4 {
  marign:0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* text-align: center; */
}
.post-items {
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
}
.post-item {
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  vertical-align: middle;
  color: #8C55AA;
}
.follow-item {
  padding-top: 35px;
  padding-left: 55px;
  font-size: 20px;
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  vertical-align: middle;
}
.post-content{
  margin-left: 70px;
  color: #8C55AA;
}
.post-content img{
  border-radius: 1em;
}
.post-text{
  display: inline;
  word-wrap: break-word;
}
.post-img{
  padding-right: 8px;
  height:240px;
  width:100%;
  /* border-radius: 50%; */
}
textarea {
  border: 1px solid #8C55AA;
  border-radius: 0.67em;
  outline: none;
}
.textarea {
  width: 455px;
}
.share {
  margin-top: 10px;
  background-color: #C0C0C0;
  font-weight: lighter;
  margin-left: 70px;
  border: 2px solid #d2afdf;
  margin-right: 5px;
  padding: 9px 9px 9px 9px;
  border-radius: 1em;
}
.share-items {
  display:flex;
}
.share-item {
  font-size: 15px;
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}
.share-img{
  margin-left:5px;
  height:50px;
  width:50px;
  border-radius: 50%;
}
.share-content{
  /* margin-left: 70px; */
}
.share-content img{
  border-radius: 1em;
}
.share-text{
  display: inline;
  word-wrap: break-word;
}
.post-btn {
  display:flex;
  margin-left: 69px;
  margin-bottom: 8px;
}
.post-btn a{
 margin-right: 10px;
 margin-left: 4px;
}
.post-btns {
  margin-left:65px;
}
hr {
height: 2px;
background-color: #8C55AA;
border: none;
color: #8C55AA;
}
.file-btn {
  display:none;
}
.file-label{
  display: inline-block;
  weight: 150px;
  height: 20px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #8C55AA;
  border: solid 2px #8C55AA;
  border-radius: 3px;
  transition: .4s;
  font-size: 11px;
}
.file-label:hover{
  background-color: #8C55AA;
  color: white;
}
.form-btn {
  margin-left: 250px;
  display: inline-block;
  weight: 150px;
  height: 30px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #8C55AA;
  border: solid 2px #8C55AA;
  border-radius: 3px;
  transition: .4s;
  font-size: 11px;
}
.form-btn:hover {
  background: #8C55AA;
  color: white;
}
.side-right {
border-style: solid;
border-color: #8C55AA;
background-color: white;
width: 20%;
height: 50px;
color: #8C55AA;
font-size: 20px;
overflow:hidden;
margin: 7em auto;
margin-top: 30px;
margin-left:10px;
border-radius: 1.5em;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.searchform {
background: #8C55AA;
height: 45px;
position: relative;
color: white;
}
input::placeholder {
color: #8C55AA;
font-size: 15px;
}
.searchform input[type=text] {
color: #8C55AA;
width: 100%;
height: 45px;
border: 1px solid #8C55AA;
border-radius: 1em 0 0 0;
padding: 0 10px;
background: white;
box-sizing: border-box;
}

.searchform button[type=submit] {
border: 0;
background: #8C55AA;
width: 45px;
height: 45px;
line-height: 50px;
text-align: center;
position: absolute;
top: 0;
right: 0;
font-size: 24px;
color: white;
}
a{
  color:#8C55AA;
}
.main-title-contents{
  padding-left: 10px;
}
.main-title-content{
  display: flex;
  flex-direction: column;
  font-size: 11px;
}
.btn-primary{
  background-color: #8C55AA;
  width :230px;
  height: 40px;
}
.like {
  color: #8C55AA;
}
.unlike {
  color: red;
}
.modal-header {
  background-color: #8C55AA;
  color: white;
}
.comment-content{
  padding-left: 440px;
}
.not-found{
  font-size: 25px;
  margin-top: 35px;
  margin-left: 55px;
  font-weight: 900;
}
.navbar {
  background-color: #8C55AA;
}
.date-item {
  margin-left: auto;
  margin-right: 15px;
}
.modal-post{
  background-color: #f1e2f7;
  border-radius: 1.5em;
}
.submit {
/* margin-top: 30px;
cursor: pointer;
border-radius: 5em;
color: #fff;
background: linear-gradient(to right, #9C27B0, #E040FB); */
border: 0;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 10px;
padding-top: 35px;
font-family: 'Ubuntu', sans-serif;
margin-left: 30%;
font-size: 20px;
/* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04); */
width: 100px;
text-decoration: none;
}
.paging-btn {
  padding-left:25px;
}

/* ここから下がボタンのCSS　*/
.follow {
  display: inline-block;
  width: 120px;
  text-align: left;
  border: 2px solid ;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  background-color: #8C55AA;
}
.editprofile {
  display: inline-block;
  width: 155px;
  text-align: left;
  border: 2px solid ;
  font-size: 16px;
  /* color: white; */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  background-color: #FFF;
}

.follow:hover {
  background-color: #f1e2f7;
  color: #8C55AA;
}
.follow-items{
  margin-left: 320px;
}
.alert-success{
  width: 200px;
  height: : 60px;
  color: #3c763d;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  width: 300px;
  height: : 60px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  margin-right: auto;
  margin-left: 26px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-right: auto;
  margin-left: auto;
}
.alert-dangers{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  width: 672px;
  height: : 60px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  margin-right: auto;
  margin-left: 26px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 6px;
}
.
