<?= $this->Html->css('css_style'); ?>


<div class="main">
  <p class="sign" align="center">Successful Registration!</p>


  <p align="center"><a href="/users/login">login</a></p>
</div>




  </div>
