<?= $this->Html->css('css_style'); ?>


<div class="main">
  <p class="sign" align="center">Log in</p>

  <?php
  echo $this->Form->create('User', array('novalidate' => true));
  echo $this->Form->input('username', array('class' =>'sign-input'));
  echo $this->Form->input('password', array('class' =>'sign-input'));
  echo $this->Form->end('login');
  ?>
       <p class="forgot" align="center"><a href="/users/signup">Sign Up</a></p>
  </div>
